<% form_for [:backend, @page, @content] do |f| %>
<%= f.error_messages %>
<dl>
<dt><%= f.label t(:'contents.content_definition') %></dt>
<dd>
<%=h @content.content_definition.title %>
<%= f.hidden_field :content_definition %>
</dd>
</dl>
<fieldset>
<legend><%=t :'contents.attribute_values' %></legend>

<div id="attribute_values">
<%= f.render_associated_form(@content.attribute_values) %>
</div>
</fieldset>
<%= f.hidden_field :container %>
<%= f.submit t(:save) %>
<% end %>
