<%= f.error_messages %>
<p>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :domain %><br />
  <%= f.text_field :domain %>
</p>
<p>
  <%= f.label :path %><br />
  <%= f.text_field :path %>
</p>
<p>
  <%= f.label :template %><br />
  <%= f.text_area :template, :rows => 40, :cols => 80 %>
</p>
