<h1><%=t :'pages.header', :title => @page.title %></h1>

<h2><%=t :'pages.content_definitions' %></h2>

<% if !@page.content_definitions.empty? %>

<% render_datatable @page.content_definitions do |d| %>
  <% d.column :title, { :label => t(:'content_definitions.title'), :sortable => true } do |c| %>
    <%= link_to h(c.title), edit_backend_page_content_definition_path(@page, c) %>
  <% end %>
  <% d.column :created_at, :label => t(:'content_definitions.created_at'), :parser => 'date' do |c| %>
    <%= c.created_at.strftime('%m/%d/%y') %>
  <% end %>
<% end %>

<% end %>


<%= link_to t(:new_record, :name => t(:content_definition)), new_backend_page_content_definition_path(@page) %>

<h2><%=t :containers %></h2>
<div class="containers">
<% for container in @page.containers %>
<div class="container">
<h3><%=h container %></h3>
<ul>
<% for content in @page.content_by_container(container) %>
<li><%=h content.content_definition.title %> (<%=h content['title'] %>)</li>
<% end %>
</ul>
<p>
<%= link_to t(:'pages.container_insert_new_record'), new_backend_page_content_path(@page, :container => container) %>
</p>
</div>
<% end %>
</div>

<h2><%=t :informations %></h2>
<dl class="info">
<dt><%=t :domain %></dt><dd>
<% if @page.domain %>
<code><%=h @page.domain %></code>
<% else %>
<em><%=t :false %></em>
<% end %>
</dd>

<dt><%=t :path %></dt><dd><code><%=h @page.path %></code></dd>

<dt><%=t :route_path %></dt><dd><code><%=h @page.route_path %></code></dd>

<dt><%=t :template %></dt><dd><em><%=t_boolean @page.template? %></em></dd>

<dt><%=t :created %></dt><dd><%=h time_ago_in_words(@page.created_at) %> (<%=l @page.created_at, :format => :short %>)</dd>

<dt><%=t :updated %></dt><dd><%=h time_ago_in_words(@page.updated_at) %> (<%=l @page.updated_at, :format => :short %>)</dd>
</dl>
<hr class="clearer" />



<p><%= link_to t(:edit_record, :name => t(:page)), edit_backend_page_path(@page) %></p>
<p><%= link_to t(:show_page_in_frontend), front_page_url(@page) %></p>
<p><%= link_to t(:new_child_page), new_backend_page_page_path(@page) %></p>