<h1><%=t :'pages.header', :title => @page.title %></h1>

<h2><%=t :'pages.content_definitions' %></h2>

<% if !@page.content_definitions.empty? %>
<% render_datatable @page.content_definitions do |d| %>
  <% d.column :title, { :label => t(:'content_definitions.title'), :sortable => true } do |c| %>
    <%= link_to h(c.title), edit_backend_page_content_definition_path(@page, c) %>
  <% end %>
  <% d.column :created_at, :label => t(:'content_definitions.created_at'), :parser => 'date' do |c| %>
    <%= c.created_at.strftime('%m/%d/%y') %>
  <% end %>
<% end %>
<% end %>

<div class="link-control">
<div class="bd">
<%= link_to t(:new_record, :name => t(:content_definition)), new_backend_page_content_definition_path(@page) %>
</div>
</div>
<hr class="clearer" />

<h2><%=t :'pages.containers' %></h2>
<div class="containers">
<% for container in @page.containers %>
<div class="container">
<h3><%=h container %></h3>
<ul id="<%= container %>_list" style="cursor: move">
<% for content in @page.content_by_container(container) %>
<li id="content_<%= content.id %>"><%=h content.content_definition.title %> (<%=h content['title'] %>)</li>
<% end %>
</ul>

<%= sortable_element "#{container}_list", :url => {:action => "sort_content", :id => @page, :container => container}, :complete => visual_effect(:highlight, "#{container}_list") %>

<script type="text/javascript">
YAHOO.util.Event.onContentReady("<%= container %>-menu", function () {
        var oMenu = new YAHOO.widget.Menu("<%= container %>-menu", { context: ["<%= container %>-toggle-menu", "tl", "tl"] });
        oMenu.render();
        YAHOO.util.Event.addListener("<%= container %>-toggle-menu", "click", oMenu.show, null, oMenu);
});    
</script>

<div class="link-control">
<div class="bd">
<a href="#" id="<%= container %>-toggle-menu"><%=t :new_record, :name => t(:content) %></a>
</div>
</div>

<div id="<%= container %>-menu" class="yuimenu">
<div class="bd">
<ul class="first-of-type">
<% for content_definition in @page.inherited_content_definitions %>
<li class="yuimenuitem"><%= link_to t(:'pages.add_content', :name => content_definition.title), new_backend_page_content_path(@page, :container => container, :content_definition_id => content_definition.id), :html => { :class => 'yuimenuitemlabel' } %></li>
<% end %>
</ul>
</div>
</div>

<hr class="clearer" />

</div>
<% end %>
</div>

<h2><%=t :informations %></h2>
<dl class="info">
<dt><%=t :domain %></dt><dd>
<% if @page.domain %>
<code><%=h @page.domain %></code>
<% else %>
<em><%=t :false %></em>
<% end %>
</dd>

<dt><%=t :path %></dt><dd><code><%=h @page.path %></code></dd>

<dt><%=t :route_path %></dt><dd><code><%=h @page.route_path %></code></dd>

<dt><%=t :template %></dt><dd><em><%=t_boolean @page.template? %></em></dd>

<dt><%=t :created %></dt><dd><%=h time_ago_in_words(@page.created_at) %> (<%=l @page.created_at, :format => :short %>)</dd>

<dt><%=t :updated %></dt><dd><%=h time_ago_in_words(@page.updated_at) %> (<%=l @page.updated_at, :format => :short %>)</dd>
</dl>
<hr class="clearer" />



<p><%= link_to t(:edit_record, :name => t(:page)), edit_backend_page_path(@page) %></p>
<p><%= link_to t(:show_page_in_frontend), front_page_url(@page) %></p>
<p><%= link_to t(:new_child_page), new_backend_page_page_path(@page) %></p>