<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>cartargo - pages</title>
  <%= stylesheet_link_tag 'scaffold' %>

  <%= stylesheet_link_tag 'yui/container',
                          'yui/datatable',
                          'yui/menu',
                          'yui/treeview' %>


  <%= stylesheet_link_tag 'backend',
                          'pages' %>

  <%= javascript_include_tag :defaults %>

  <%= javascript_include_tag 'yui/yahoo-dom-event',
                             'yui/element-beta',
                             'yui/datasource',
                             'yui/datatable',
                             'yui/container_core',
                             'yui/menu',
                             'yui/treeview' %>
</head>
<body class="yui-skin-sam">
<div id="menu">
<%= image_tag "cartargo-logo.png", :id => 'logo', :alt => 'cartargo' %>
<ul>
<li class="active"><%= link_to t(:'menu.pages'), backend_pages_path %></li>
<li><a href="#">Inhalt</a></li>
<li><a href="#">Vorschau</a></li>
<li><a href="#">Verwaltung</a></li>
</ul>
</div>
<div id="content">
<div id="page-tree">
<%= render :partial => 'tree' if @roots %>
</div>
<div id="page-content">
<%= yield %>
</div>
</div>
</body>
</html>