<div class="attribute_definition">
<%= f.error_messages %>
<dl>
<dt><%= f.label :name, t(:name) %></dt>
<dd><%= f.text_field :name %></dd>
<dt><%= f.label :type, t(:type) %></dt>
<dd><%= f.text_field :type %></dd>
<dt><%= f.label :options, t(:options) %></dt>
<dd><%= f.text_field :options %></dd>
<dt><%= f.remove_link t(:remove) %></dt>
</dl>
</div>
