<% form_for [:backend, @page, @content_definition] do |f| %>
<%= f.error_messages %>
<fieldset>
<legend><%=t :'content_definitions.form.base' %></legend>
<dl>
<dt><%= f.label :title %></dt>
<dd><%= f.text_field :title %></dd>
</dl>
</fieldset>
<fieldset>
<legend><%=t :'content_definitions.form.attribute_definitions' %></legend>
<div id="attribute_definitions">
<%= f.render_associated_form(@content_definition.attribute_definitions) %>
</div>
<div class="link-control">
<div class="bd"><%= f.add_associated_link t(:add_attribute_definition), @content_definition.attribute_definitions.build %></div>
</div>
</fieldset>

<%= f.submit t(:save) %>
<% end %>
